@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @import "./styles/base.css"; */
@import "./styles/components.css";
@import "./styles/utilities.css";

body {
  margin: 0;
  min-height: 619px;
  font-family: var(--font-family);
  box-sizing: border-box;
  overflow-x: hidden;
}

@theme {
  /*Colors Neutral*/
  --color-Off-white: hsl(36, 100%, 99%);
  --color-Grayish-blue: hsl(233, 8%, 79%);
  --color-Dark-gray-sh-blue: hsl(236, 13%, 42%);
  --color-Very-dark-blue: hsl(240, 100%, 5%);
  --color-Text-gray: hsl(240, 1%, 44%);

  /*Colors Primary*/
  --color-Soft-orange: hsl(35, 77%, 62%);
  --color-Soft-red: hsl(5, 85%, 63%);

  --color-linear-gradient: linear-gradient(
    180deg,
    #f9ce34 0%,
    #ee2a7b 0%,
    #6228d7 0%
  );
  --color-linear-gradient: linear-gradient(180deg, #198ff5 0%, #1db489);

  --container-sm: 375px;
  --container-lg: 1440px;

  /*Typography*/
  --text-size-12: 0.75rem;
  --text-size-14: 0.875rem;
  --text-size-16: 1rem;
  --text-size-18: 1.125rem;
  --text-size-20: 1.25rem;
  --text-size-24: 1.5rem;
  --text-size-32: 2rem;
  --text-size-40: 2.5rem;
  --text-size-48: 3rem;
  --font-primary: "Inter", sans-serif;
}
